.root {
  border: 2px solid var(--color-outline);
  bottom: 10px;
  font-size: 18px;
  padding: 2px 12px;
  position: fixed;
  right: 10px;
  text-transform: uppercase;
}

.highlight {
  color: var(--color-highlight);
  font-weight: bold;
}
